
#logo{ 
	padding-left: 1%; 
	/*padding-right: 15%;*/
	padding-top: 1%; }

#navigation {
position: fixed;
top: 0;
width: 100%;
color: white;
height: 30px;
text-align: right;
padding-top: 2%;
padding-right: 2%;
color: rgba(255, 255, 255, .5);
}

#nav {background-color: #D3D3D3;
	height: 110px;
	z-index: -1}

html {min-height:100%;
 }
body {background-color: #7DBC7F;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}

#intro { padding-top: 15%;
 text-align: center;
 	font-family: "Roboto";
 	text-transform: uppercase;
 	font-size: 45px;
 	color: #2a2a2a;
;

}
 #introheader { padding-top: 1%;
 	text-align: center;
 	font-family: "Open Sans";
 	color: #2a2a2a; 
 	font-size: 25px;}


#button1 { padding-top: 15%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	}

#button2 { padding-top: 15%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	}

#footer { 
	bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    color: rgba(1, 1, 1, .5);

}
#page {background-color: #D3D3D3;}

#spaceheader {
	padding-top: 1%;
	text-align: center;
	font-family: "Roboto";
 	text-transform: uppercase;
 	color: #2a2a2a;
}

#userimage {display: block;
	 padding-left: 10%;
	 z-index: -1}

#usertext {text-align: left;
	font-family: "Open Sans";
	font-size: 15px;}

#howimage {display: block;
	margin-left: auto;
	margin-right: auto;}
#howcontainer {padding-bottom: 1%;}

#howcontainer {
	padding-right: 2%;
	padding-left: 2%;}

#howtext { 
	padding-left: 2%;
	padding-right: 2%;}

#usercontainer {
	padding-top: 4%;
	padding-left: 2%;
	padding-right: 2%
}
#userimage {
	display: block;
    margin-left: auto;
    margin-right: auto;
	z-index: -1;}

#profilecontainer { padding: 5%;}
#profilename {text-align: center;
	font-family: "Open Sans";}
#profileheader {text-align: left;
	font-family: "Open Sans";}
#userimage2 {display: block;
	margin-right: auto;
	margin-left: auto;}
#profiledetails1 { text-align: left;
	font-family: "Open Sans";}


#pricingimage {display: block;
	margin-right: auto;
	margin-left: auto;}

